<app-header></app-header>
<div class="d-flex flex-column">
    <div class="d-flex justify-content-end">
        <button>Zalicz</button>
        <button>Oblej</button>
    </div>
    <p>Student</p>
    <div class="d-flex">
        <div class="card m-2">
            <div class="card-body d-flex">
              <p>Imie</p>
            </div>
        </div>
        <div class="card m-2">
            <div class="card-body d-flex">
              <p>Nazwisko</p>
            </div>
        </div>
        <div class="card m-2">
            <div class="card-body d-flex">
              <p>Nr.Albumu</p>
            </div>
        </div>
        <div class="card m-2">
            <div class="card-body d-flex">
              <p>EMAIL</p>
            </div>
        </div>
    </div>
    <p>Firma</p>
    <div class="d-flex">
        <div class="card m-2">
            <div class="card-body d-flex">
              <p>Nazwa</p>
            </div>
        </div>
        <div class="card m-2">
            <div class="card-body d-flex">
              <p>Adres</p>
            </div>
        </div>
        <div class="card m-2">
            <div class="card-body d-flex">
              <p>NIP</p>
            </div>
        </div>
        <div class="card m-2">
            <div class="card-body d-flex">
              <p>KRS</p>
            </div>
        </div>
        <div class="card m-2">
            <div class="card-body d-flex">
              <p>Region</p>
            </div>
        </div>
    </div>
    <p>Osoba kontaktowa z firmy</p>
    <div class="d-flex">
        <div class="card m-2">
            <div class="card-body d-flex">
              <p>Imie</p>
            </div>
        </div>
        <div class="card m-2">
            <div class="card-body d-flex">
              <p>Nazwisko</p>
            </div>
        </div>
        <div class="card m-2">
            <div class="card-body d-flex">
              <p>Email</p>
            </div>
        </div>
        <div class="card m-2">
            <div class="card-body d-flex">
              <p>Telefon</p>
            </div>
        </div>
    </div>
    <p>Złożone dokumenty</p>
</div>