<app-header></app-header>
<div class="d-flex flex-column flex-md-row gap-2">
  <div class="col">
    <h2 class="pb-3 text-center">{{"ACTIVITIES"|translate}}</h2>
    <div class="card">
    <div class="card-body d-flex flex-column gap-3">
      <a class="btn btn-outline-primary py-4" routerLink='/documents'>{{"YOURPRACTICE"|translate}}</a>
      <a class="btn btn-outline-primary py-4">{{"YOURAPPLICATIONS"|translate}}</a>
      <a class="btn btn-outline-primary py-4" routerLink="/submit-date-ticket">{{"APPLYTOCHANGETHEDATEOFTHEINTERSHIP"|translate}}</a>
      <a class="btn btn-outline-primary py-4">{{"APPLYFORANINTERNSHIPPASS"|translate}}</a>
    </div>
    </div>
  </div>
  <div class="col text-center">
    <h2 class="pb-3">{{"HAVEYOUPREPAREDTHISYET"|translate}}</h2>

    <div class="d-flex flex-column gap-4">
      <div class="card">
    <h3 class="mt-3">{{"TOTHEPRACTICEMANAGER"|translate}}</h3>
        <div class="card-body d-flex flex-column">
          <p>{{"APPLICATIONFORTHEIMPLEMENTATION"|translate}}</p>
          <a class="btn btn-outline-primary col-3 align-self-center"href="">{{"DOWNLOAD"|translate}}</a>
          <p class="mt-4 text-muted">Zostało TODO dni</p>
        </div>
      </div>
      <div class="card">
      <h3 class="mt-3">{{"TOTHEDEANSOFFICE"|translate}}</h3>
        <div class="card-body d-flex flex-column">
          <p>{{"APPLICATIONFORTHEIMPLEMENTATIONOF"|translate}}</p>
          <a class="btn btn-outline-primary col-3 align-self-center"href="">{{"DOWNLOAD"|translate}}</a>
          <p>{{"INFORMATIONCLAUSEONPERSONAL"|translate}}</p>
          <a class="btn btn-outline-primary col-3 align-self-center"href="">{{"DOWNLOAD"|translate}}</a>
          <p>{{"DECLARATIONOFKNOWLEDGE"|translate}}</p>
          <a class="btn btn-outline-primary col-3 align-self-center"href="">{{"DOWNLOAD"|translate}}</a>
          <p class="mt-4 text-muted">Zostało TODO dni</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body d-flex flex-column">
          <p>{{"APPLICATIONFORCONSENT"|translate}}</p>
          <button type="button"  (click)="downloadForm1()" class="btn btn-outline-primary col-3 align-self-center">{{"DOWNLOAD" | translate}}*</button>
          <p class="mt-4 text-muted">Zostało TODO dni</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card-body d-flex flex-column gap-3">
      <h2 class="text-center">{{'DEADLINES' | translate}}</h2>
      <div class="card p-3">
      <h4>3.06.2023 TODO</h4>
        <ul>
          <li>{{"AGREEMENTONORGANIZATION"|translate}}</li>
          <li>{{"ANINFORMATIONCLAUSECONCERING"|translate}}</li>
          <li>{{"DECLARATIONOFKNOWLEDGE"|translate}}</li>
          <li>{{"APPLICATIONFORCONSENT"|translate}}</li>
        </ul>
      </div>
      <div class="card p-3">
      <h4>8.09.2023 TODO</h4>
        <ul>
          <li>{{"STUDENTREPORT"|translate}}</li>
        </ul>
      </div>









    </div>
  </div>
</div>
