<app-header></app-header>
<div class="d-flex flex-column flex-md-row gap-2">
  <div class="col">
    <h2 class="pb-3 text-center">Działania</h2>
    <div class="card">
    <div class="card-body d-flex flex-column gap-3">
      <a class="btn btn-outline-primary py-4">Twoje praktyki</a>
      <a class="btn btn-outline-primary py-4">Twoje podania</a>
      <a class="btn btn-outline-primary py-4">Złóż podanie o zmianę terminu praktyki</a>
    </div>
    </div>
  </div>
  <div class="col text-center">
    <h2 class="pb-3">Czy już to przygotowałeś?</h2>

    <div class="d-flex flex-column gap-4">
      <div class="card">
    <h3 class="mt-3">Do kierownika praktyk:</h3>
        <div class="card-body d-flex flex-column">
          <p>Podanie o realizację trzeciotygodniowej zgody na realizację praktyki studenckiej?</p>
          <a class="btn btn-outline-primary col-3 align-self-center"href="">pobierz</a>
          <p class="mt-4 text-muted">Zostało TODO dni</p>
        </div>
      </div>
      <div class="card">
      <h3 class="mt-3">Do dziekanatu:</h3>
        <div class="card-body d-flex flex-column">
          <p>Podanie o realizację trzeciotygodniowej zgody na realizację praktyki studenckiej? (jeden egzemplarz)</p>
          <a class="btn btn-outline-primary col-3 align-self-center"href="">pobierz</a>
          <p>Klauzula informacyjna o danych osobowych (dwa egzemplarze)</p>
          <a class="btn btn-outline-primary col-3 align-self-center"href="">pobierz</a>
          <p>Oświadczenie o znajomości zasad odbywania praktyk (jeden egzemplarz)</p>
          <a class="btn btn-outline-primary col-3 align-self-center"href="">pobierz</a>
          <p class="mt-4 text-muted">Zostało TODO dni</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body d-flex flex-column">
          <p>Podanie o zaliczenie praktyk</p>
          <a class="btn btn-outline-primary col-3 align-self-center"href="">pobierz</a>
          <p class="mt-4 text-muted">Zostało TODO dni</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card-body d-flex flex-column gap-3">
      <h2 class="text-center">Terminy</h2>
      <div class="card p-3">
      <h4>3.06.2023 TODO</h4>
        <ul>
          <li>Umowę o organizację praktyki studenta Politechniki Świętokrzyskiej</li>
          <li>klauzulą informacyjną dotycząca przetwarzania przez Uczelnię danych osobowych</li>
          <li>Oświadczenie o znajomości zasad odbywania praktyki</li>
          <li>Podanie o wyrażenie zgody na realizację czterotygodniowej praktyki studenckiej</li>
        </ul>
      </div>
      <div class="card p-3">
      <h4>8.09.2023 TODO</h4>
        <ul>
          <li>Sprawozdanie z praktyki studenckiej</li>
        </ul>
      </div>









    </div>
  </div>
</div>
